APP_NAME=BiteZ
APP_URL=http://localhost:5173
NODE_ENV=development
PUBLIC_APP_URL=http://localhost:5173

DATABASE_URL="postgres://localhost/bitez"
AUTH_SECRET="aGq36jLtljKOzClvzAJbMwy8a"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="tsrcodes@gmail.com"
SMTP_PASS=""
SMTP_SECURE=false

EMAIL_FROM=hi@aakash.dev
EMAIL_FROM_NAME=BiteZ
SUPPORT_EMAIL=hi@aakash.dev
